* {
    font-family: Georgia, Times, serif;
    color: black;
    background: white;
}

#header, #tabs, #footer {
    display: none;   
}

a {
    text-decoration: none;    
}

p.date {
    font-size: 80%;
    font-style: italic;    
}

code, code *, pre, pre * {
    font-family: "Lucida Console","Courier New",monospace;
}

th, td {
    vertical-align: top;   
}

thead td, th {
    font-weight: bold;
    text-align: left;
}

img {
    border: none;   
}
